{
  "sourceMaps": true,
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        }
      },
      "transform-class-properties",
      "transform-decorators-legacy"
    ]
  ],
  "presets": ["env", "es2015", "stage-0", "react", "jest"]
}
